HandUpGUI/HandUpGUI/HandUpGUI/Web References/localhost/HandUpService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HandUpService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/HandUpWCF/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/HandUpWCF/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/HandUpWCF/Service1.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost/HandUpWCF/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HandUpWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHandUpService_LoginWaiter_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWaiter" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_LoginWaiter_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWaiterResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_JoinTableCode_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinTableCode" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_JoinTableCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinTableCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_ConfirmOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmOrder" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_ConfirmOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_DeclineOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeclineOrder" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_DeclineOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeclineOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddTextToOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTextToOrder" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddTextToOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTextToOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddTable_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTable" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTableResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddPatronToTable_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPatronToTable" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddPatronToTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPatronToTableResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_CloseTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseTable" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_CloseTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseTableResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_CallWaiter_InputMessage">
    <wsdl:part name="parameters" element="tns:CallWaiter" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_CallWaiter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CallWaiterResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_DisableEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DisableEmployee" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_DisableEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisableEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_GrantDenyAccessEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GrantDenyAccessEmployee" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_GrantDenyAccessEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrantDenyAccessEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddMenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMenuItem" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddMenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddSubmenuItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubmenuItem" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddSubmenuItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubmenuItemResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_OverrideOrderValue_InputMessage">
    <wsdl:part name="parameters" element="tns:OverrideOrderValue" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_OverrideOrderValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:OverrideOrderValueResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_MoveOrderFromTable_InputMessage">
    <wsdl:part name="parameters" element="tns:MoveOrderFromTable" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_MoveOrderFromTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveOrderFromTableResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_ReportsOverView_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportsOverView" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_ReportsOverView_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportsOverViewResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddSpecialsList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialsList" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_AddSpecialsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpecialsListResponse" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IHandUpService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IHandUpService">
    <wsdl:operation name="LoginWaiter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/LoginWaiter" message="tns:IHandUpService_LoginWaiter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/LoginWaiterResponse" message="tns:IHandUpService_LoginWaiter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinTableCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/JoinTableCode" message="tns:IHandUpService_JoinTableCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/JoinTableCodeResponse" message="tns:IHandUpService_JoinTableCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddOrder" message="tns:IHandUpService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddOrderResponse" message="tns:IHandUpService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/ConfirmOrder" message="tns:IHandUpService_ConfirmOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/ConfirmOrderResponse" message="tns:IHandUpService_ConfirmOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeclineOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/DeclineOrder" message="tns:IHandUpService_DeclineOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/DeclineOrderResponse" message="tns:IHandUpService_DeclineOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTextToOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddTextToOrder" message="tns:IHandUpService_AddTextToOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddTextToOrderResponse" message="tns:IHandUpService_AddTextToOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddTable" message="tns:IHandUpService_AddTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddTableResponse" message="tns:IHandUpService_AddTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPatronToTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddPatronToTable" message="tns:IHandUpService_AddPatronToTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddPatronToTableResponse" message="tns:IHandUpService_AddPatronToTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/CloseTable" message="tns:IHandUpService_CloseTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/CloseTableResponse" message="tns:IHandUpService_CloseTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CallWaiter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/CallWaiter" message="tns:IHandUpService_CallWaiter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/CallWaiterResponse" message="tns:IHandUpService_CallWaiter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddEmployee" message="tns:IHandUpService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddEmployeeResponse" message="tns:IHandUpService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/EditEmployee" message="tns:IHandUpService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/EditEmployeeResponse" message="tns:IHandUpService_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisableEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/DisableEmployee" message="tns:IHandUpService_DisableEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/DisableEmployeeResponse" message="tns:IHandUpService_DisableEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrantDenyAccessEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/GrantDenyAccessEmployee" message="tns:IHandUpService_GrantDenyAccessEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/GrantDenyAccessEmployeeResponse" message="tns:IHandUpService_GrantDenyAccessEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddMenuItem" message="tns:IHandUpService_AddMenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddMenuItemResponse" message="tns:IHandUpService_AddMenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubmenuItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddSubmenuItem" message="tns:IHandUpService_AddSubmenuItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddSubmenuItemResponse" message="tns:IHandUpService_AddSubmenuItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OverrideOrderValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/OverrideOrderValue" message="tns:IHandUpService_OverrideOrderValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/OverrideOrderValueResponse" message="tns:IHandUpService_OverrideOrderValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MoveOrderFromTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/MoveOrderFromTable" message="tns:IHandUpService_MoveOrderFromTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/MoveOrderFromTableResponse" message="tns:IHandUpService_MoveOrderFromTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportsOverView">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/ReportsOverView" message="tns:IHandUpService_ReportsOverView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/ReportsOverViewResponse" message="tns:IHandUpService_ReportsOverView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpecialsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/AddSpecialsList" message="tns:IHandUpService_AddSpecialsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/AddSpecialsListResponse" message="tns:IHandUpService_AddSpecialsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IHandUpService/GetDataUsingDataContract" message="tns:IHandUpService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHandUpService/GetDataUsingDataContractResponse" message="tns:IHandUpService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHandUpService" type="tns:IHandUpService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginWaiter">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/LoginWaiter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinTableCode">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/JoinTableCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmOrder">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/ConfirmOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeclineOrder">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/DeclineOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTextToOrder">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddTextToOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTable">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatronToTable">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddPatronToTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseTable">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/CloseTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallWaiter">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/CallWaiter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/EditEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisableEmployee">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/DisableEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrantDenyAccessEmployee">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/GrantDenyAccessEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMenuItem">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddMenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubmenuItem">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddSubmenuItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverrideOrderValue">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/OverrideOrderValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveOrderFromTable">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/MoveOrderFromTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportsOverView">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/ReportsOverView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpecialsList">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/AddSpecialsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IHandUpService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HandUpService">
    <wsdl:port name="BasicHttpBinding_IHandUpService" binding="tns:BasicHttpBinding_IHandUpService">
      <soap:address location="http://localhost/HandUpWCF/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>