HandUpGUI/HandUpGUI/HandUpGUI/Web References/localhost/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/HandUpWCF/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HandUpWCF" />
  <xs:element name="AllAdvertsAvailableForProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAdvertsAvailableForProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllAdvertsAvailableForProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuItemID" type="xs:int" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
        <xs:element minOccurs="0" name="TextValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
        <xs:element minOccurs="0" name="sStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTextToOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
        <xs:element minOccurs="0" name="TextValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTextToOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTextToOrderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersPerTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersPerTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrdersPerTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinTableCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sTableCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinTableCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinTableCodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FKiEmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="FKiProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="iGuestNumber" type="xs:int" />
        <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatronToTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkiTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPatronToTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPatronToTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkiTableID" type="xs:int" />
        <xs:element minOccurs="0" name="iStatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PkiTableID" type="xs:int" />
        <xs:element minOccurs="0" name="sMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallWaiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CallWaiterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForWaiter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForWaiterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveTablesForWaiterResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForProcessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForProcessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveTablesForProcessorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActiveTablesForProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActiveTablesForProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTablesForProviderByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="dtFromDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTablesForProviderByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllTablesForProviderByDateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTablesForProviderByDateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="dtFromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllTablesForProviderByDateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllTablesForProviderByDateStatusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeAssignedToTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeAssignedToTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmployeeAssignedToTableResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuForProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuForProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuForProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuItemByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PKiMenuID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuItemByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMenuItemByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuGroupsPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMenuGroupsPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMenuGroupsPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceStationsPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getServiceStationsPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getServiceStationsPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableAlertPerEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TableAlertPerEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TableAlertPerEmployeeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmployeeByIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPerProviderAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenuPerProviderAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuPerProviderAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeListPerProvireAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmployeeListPerProvireAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeListPerProvireAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeePerProviderAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeType" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeAddress3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeNationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeTel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeePerProviderAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeePerProviderAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeePerProviderAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeType" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeAddress1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeAddress2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeAddress3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEmployeeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeNationality" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmployeeTel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeePerProviderAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEmployeePerProviderAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TablesPerProviderAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="dtOpen" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TablesPerProviderAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TablesPerProviderAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReOpenTablesPerProviderAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="TableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReOpenTablesPerProviderAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReOpenTablesPerProviderAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrderBetweenTablesPerProviderAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
        <xs:element minOccurs="0" name="ToTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrderBetweenTablesPerProviderAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveOrderBetweenTablesPerProviderAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTableBetweenEmployeePerProviderAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
        <xs:element minOccurs="0" name="ToTableID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveTableBetweenEmployeePerProviderAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveTableBetweenEmployeePerProviderAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrderValuePerOrderPerProviderAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="OrderID" type="xs:int" />
        <xs:element minOccurs="0" name="OrderValue" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeOrderValuePerOrderPerProviderAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeOrderValuePerOrderPerProviderAdminResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TablesPerProviderPerStatusAdminFull">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="dtOpen" type="xs:dateTime" />
        <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TablesPerProviderPerStatusAdminFullResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TablesPerProviderPerStatusAdminFullResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceSationID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemImage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemPrice" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewMenuItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuItemID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuItemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemImage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuItemPrice" type="xs:double" />
        <xs:element minOccurs="0" name="ActiveStatus" type="xs:int" />
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceSationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMenuItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuGroupPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuGroupDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuGroupPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuGroupPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewServiceStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="ServicestationID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceStationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceNameDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActiveStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewServiceStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewServiceStationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="ServicestationID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceStationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceNameDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActiveStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateServiceStationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuGroupTypesPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MenuGroupID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MenuGroupDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMenuGroupTypesPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMenuGroupTypesPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubMenuGroupTypesPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuGroupTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubMenuGroupTypepDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubMenuGroupTypesPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubMenuGroupTypesPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubMenuGroupTypePerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubMenuGroupTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuGroupTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubMenuGroupTypepDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ActiveStatus" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubMenuGroupTypePerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubMenuGroupTypePerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubMenuPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProviderID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuItemID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuGroupTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubMenuDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubMenuPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubMenuPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubMenuPerProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubMenuID" type="xs:int" />
        <xs:element minOccurs="0" name="MenuItemID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuGroupTypeID" type="xs:int" />
        <xs:element minOccurs="0" name="SubMenuName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SubMenuDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSubMenuPerProviderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSubMenuPerProviderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisableEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisableEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantDenyAccessEmployee">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantDenyAccessEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GrantDenyAccessEmployeeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubmenuItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSubmenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSubmenuItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverrideOrderValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverrideOrderValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverrideOrderValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrderFromTable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveOrderFromTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoveOrderFromTableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportsOverView">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportsOverViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportsOverViewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpecialsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpecialsListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HandUpWCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HandUpWCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>